image: python:alpine

before_script:
  - pip install -r requirements.txt

pages:
  script:
    - make install
    - mkdocs build
    - mv site public
  artifacts:
    paths:
      - public
  only:
    - master
